<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>poetic_robot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
</head>
<body>
    <section class="bgimage">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarSupportedContent" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-brand">
                                Главная
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.enter_string') }}" class="navbar-brand">
                                Ввести строчку
                            </a>
                            <a href="{{ url_for('main.current_user_profile') }}" class="navbar-brand">
                                Профиль
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login_post') }}" class="navbar-brand">
                                Вход
                            </a>
                            <a href="{{ url_for('auth.signup_post') }}" class="navbar-brand">
                                Регистрация
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-brand">
                                Выход
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.change_data') }}" class="navbar-brand">
                                Изменение данных
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.current_users_poets') }}" class="navbar-brand">
                                Участники
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.search') }}" class="navbar-brand">
                                Анкетирование и поиск
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>
