{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 style="color:#00bfff" class="title">Текущие пользователи-стихотворцы:</h1>
<small>Данные пользователи участвуют в создании стихотворений!</small>
<table class="table table-striped">
  <thead>
    <tr>
     <th scope="col"><h4>Электронный адрес</h4></th>
      <th scope="col"><h4>Имя</h4></th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
      {% if user.strings != [] %}
        <tr>
           <td><h4>{{ user.email }}</h4></td>
           <td><h4><a href="{{ url_for('main.profile', user_id=user.id) }}">{{ user.name }}</a></h4></td>
        </tr>
      {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}
