{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 class="title">
  Добро пожаловать, {{ name }}!
</h1>
<h2 class="subtitle">
  Введите свою строчку для получения полноценного стиха!
</h2>
<form method="POST">
  <div class="mb-3">
    {{ form.csrf_token }}
    {% if form.string.errors %}
        <ul>
            {% for error in form.string.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="control">
      Строка должна содержать в себе только русские буквы или пробелы.
    {{ form.string(placeholder="Введите строчку", class="form-control", type="text", required="", pattern="^[А-Яа-яЁё\s]+$") }}
    </div>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
<img src="/static/stich.svg">
{% endblock %}
