{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 class="title">
  <div class="p-3 mb-2 bg-info text-white bg-opacity-75">Главная</div>
</h1>
<h2 class="subtitle">
  Добро пожаловать в процесс создания стихов!
</h2>
<img src="static/stich.svg">
<img src="static/creativity.png" class="pencil">
<img src="static/ideas.png" class="ideas">
<img src="static/write.png" class="write">
<img src="static/create.png" class="create">
<img src="static/brain.png" class="brain">
{% endblock %}
