{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 style="color:#ff0000" class="title">
  Имя:
</h1>
<h3>
  {{ name.name }}<br>
</h3>
<h1 style="color:#ff0000" class="title">
  Электронная почта:
</h1>
<h3 class="title">
  {{ name.email }}
</h3>
<script language="javascript">
var a=Math.round(Math.random()*5)
image = new Array();
image[0]="/static/first_people.png"
image[1]="/static/second_people.png"
image[2]="/static/third_people.png"
image[3]="/static/fourth_people.png"
image[4]="/static/fifth_people.png"
image[5]="/static/sixth_people.png"
document.write ("<img src="+image[a]+">");
</script>
<h1 style="color:#ff0000" class="title">
  Анкета:
</h1>
<h3 class="title">
  {{ name.info }}
</h3>
<h1 style="color:#ff0000" class="title">Строчки, которые вводил(-а):</h1>
<h3 class="title">
  {% if name.strings == [] %}
    <h5>Не вводил(-а) ни одну строчку</h5>
  {% endif %}
  {% for i in name.strings %}
    <li>{{ i.string }}</li>
  {% endfor %}
</h3>
{% endblock %}
