{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 style="color:#00bfff" class="title">Поиск:</h1>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://stacksnippets.net/scripts/snippet-javascript-console.min.js?v=1"></script>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_coins"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Начните вводить имя пользователя, которого Вы хотите найти и выберете из предложенного снизу списка
            подходящее имя.
        </button>
        <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_coins">
            <input type="search" autocomplete="off" class="form-control" id="searchCoin" placeholder="Adeli"
                       autofocus="">
            <form method="POST" action="/search">
                <h5 class="title">
                    Выбирайте только из предложенного списка и нажимайте только на них.
                    Если выходит "Нет такого пользователя", значит его не существует.
                </h5>
                <div id="menuItems"></div>
            </form>
            <div id="empty" class="dropdown-header" style="display: none;">Нет такого пользователя</div>
        </div>
    </div>
    <script type="text/javascript">
        let names = {{dictionary | safe}};
        let search = document.getElementById("searchCoin")

        let items = document.getElementsByClassName("dropdown-item")

        function buildDropDown(values) {
            let contents = []
            for (const name in values) {
                contents.push('<input type="submit" class="dropdown-item" name="search" type="button" value="' + name + '"/>')
            }
            $('#menuItems').append(contents.join(""))
            $('#empty').hide()
        }

        window.addEventListener('input', function () {
            filter(search.value.trim().toLowerCase())
        })

        function filter(word) {
            let length = items.length
            let collection = []
            let hidden = 0
            for (let i = 0; i < length; i++) {
                if (items[i].value.toLowerCase().startsWith(word)) {
                    $(items[i]).show()
                } else {
                    $(items[i]).hide()
                    hidden++
                }
            }
            if (hidden === length) {
                $('#empty').show()
            } else {
                $('#empty').hide()
            }
        }

        $('#menuItems').on('click', '.dropdown-item', function () {
            $('#dropdown_coins').text($(this)[0].value)
            $("#dropdown_coins").dropdown('toggle');
        })

        buildDropDown(names)
    </script>
    <div class="as-console-wrapper">
        <div class="as-console"></div>
    </div>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="card-body">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<form method="POST" action="/search/">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <br>
            <label for="validationServer01"><b>Введите строчку, автора которого хотите найти.</b></label>
            Строка должна состоять только минимум из 5 русских букв или пробелов.
            <input type="text" class="form-control is-valid" id="validationServer01" name="search_string"
                   placeholder="Строка" required="" pattern="^[А-Яа-яЁё\s]{5,}">
            <br>
            <p><button class="btn btn-primary">Искать</button></p>

        </div>
    </div>
</form>
<h1 style="color:#00bfff" class="title">Анкета:</h1>
<form method="POST" action="/profile/">
    <p><h3>Заполните мини-анкету. Данные, переданные ей, будут присутствовать в Вашем профиле!</h3></p>
    <label for="validationServer01"><b>Введите информацию о себе, о строчке, которую Вы ввели или информацию,
        которую Вы хотите передать другим пользователям:</b></label>
    <br>
    Текст должен содержать минимум 5 русских букв или пробелов.
    <p><textarea rows="10" cols="45" name="text" required=""></textarea></p>
    <p><button class="btn btn-primary">Отправить</button></p>
  </form>
{% endblock %}
