{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 class="title">
  <p align="center">Ваш стих:<br></p>
</h1>
    {% for i in queue %}
        <h3><em>{{ i }}<br></em></h3>
    {% endfor %}
{% endblock %}
