HTML {
  height: 100%;
  }
BODY {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 1.8em, rgba(135, 206, 235, .5) 2em)
      4em 0 repeat-y,
    linear-gradient(
      rgba(255,255,255, 0) 1.9em, rgba(0, 0, 0, .15) 2em)
    0 0;
  background-size: 2em 2em;
  background-color: ivory;
  font: 16px/2 'Trebuchet MS', Verdana, sans-serif;
  }
P {
  margin: 2.5em 3em 1em 8em;
}
.pencil{
  position: relative;
  left: -5%;
  width: 14%;
  transform: rotate(50deg);
}
.ideas{
  position: relative;
  left: 80%;
  width: 12%;
  transform: rotate(330deg);
}
.write{
  position: relative;
  left: 50%;
  width: 12%;
  transform: rotate(330deg);
}
.create{
  position: relative;
  left: -15%;
  width: 15%;
}
.brain{
  position: relative;
  left: 0%;
  width: 12%;
  transform: rotate(350deg);
}